<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
      <h1 class="header">Timestamp Microservice</h1>
    <h3>Example usage:</h3> 
        <code>baseURL/December%2015,%202015</code>
        <br>
        <code>baseURL/1450137600</code>
    <h3>Example output:</h3>
        <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
  </body>
</html>
